name: challenge

on: push

jobs:

  job1:
    name: job-1
    runs-on: ubuntu-latest
    steps:
      - run: date

  job2:
    name: job-2
    runs-on: windows-latest
    steps:
      - run: date

  job3:
    name: job-3
    runs-on: macos-latest
    steps:
      - run: date
  
  job4:
    name: job-4
    needs: [job1, job2, job3]
    runs-on: ubuntu-latest
    steps:
      - run: date
      
      - name: Python Syntax Checker
      # You may pin to the exact commit or the version.
      # uses: cclauss/Find-Python-syntax-errors-action@90f67be9fb626b675a3971b1d08ab29851cb721f
        uses: cclauss/Find-Python-syntax-errors-action@v0.2.0
